body{
    background-image: url('https://img.freepik.com/free-photo/different-cosmetics-types-scattered-pink-table_23-2148046961.jpg?w=2000');
}

.header{
    background-color: rgba(247, 219, 219, 0.778);
    padding-top: 10px;
    width: 600px;
    height: 230px;
    border-radius: 25px;
}

.header1{
  border-radius: 25px;
  border: 2px solid white ;
  padding: 10px; 
  width: auto;
  height: auto;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: hotpink;
}

label{
    color: hotpink;
}

.btnSurvey{
    color: white;
  }